@use "overrides";
@use "sheets";
@use "spacer";
@use "ship";

@font-face {
	font-family: "Rocket-Rinder";
	src: url("../fonts/rocket-rinder.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

.darkspace {
	.centered {
		justify-content: center;
		text-align: center;
		vertical-align: middle;
	}
}
